span.logo-lg img {
    width: 119px;
    margin-top: 4px;
}

.callout.callout-danger.cleanMargin {
    margin-bottom: 5px;
}

table.table.table-hover a{
    color: #000;
}
table.table.table-hover i {
    font-size: 22px;
}

td.center, th.center {
    text-align: center;
}

ul.list-trilhas.tree {
    padding: 0;
    list-style: none;
}

table.table.table-trilhas tr td {
    padding-top: 15px;
    background: #f4f4f4;
    padding-bottom: 15px;
}

table.table.table-trilhas tr td a {
    color: #1a2226;
    font-size: 16px;
    font-weight: bold;
}
.col-md-12.widget-foot p {
    float: left;
    width: 50%;
    margin-top: 8px;
}