@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
    font-family:'Roboto', Sans-Serif;
    font-weight:normal;
}

body {
    position: relative;
    background-color: #f5f5f5;
    font-size:12pt;
}

#area-recovery-password {
    position: relative;
    display: block;
    max-width:700px;
    background-color: #fff;
    margin:0 auto;
    box-shadow: 0 2px 2px #e1e1e1;
}


.recovery-password-header {
    position: relative;
    display: block;
    width:100%;
    padding:30px 10px;
    margin:0 auto;
    border-bottom:1px solid #f5f5f5;
}

.recovery-password-header-logo {
    display: block;
    width:auto;
    margin:0 auto;
}

.recovery-password-content {
    display: block;
    width:100%;
}

.recovery-password-title {
    text-align: center;
    padding-bottom:10px;
}

.recovery-password-body {
    padding:5px 20px;
}

.recovery-password-text-light {
    color: #666;
}

.recovery-password-action-button {
    display: block;
    padding:13px 30px;
    background-color: #67A1EE;
    color: #fff0ff;
    border: 1px solid #4e83ee;
    cursor: pointer;
    margin:40px auto;
    text-transform: uppercase;
}

.recovery-password-footer {
    display: block;
    width:100%;
    height:10px;
    background-color: #f2f2f2;
}